/*
Rozvrzeni stranky
=================

.container
  header
    .logo
  .layout-container
    .layout-heading (nadpis)
    .layout-main
      .layout-text (text)
      .layout-photos (fotky)

*/

body {
  background: var(--color-grey-e);
}

.container {
  max-width: none;
}


/*
Mensi displeje
--------------
*/

.layout-container {
  background: white;
  padding: 1.5rem;
  border-radius: var(--border-radius);
}


/*
Vetsi displeje
--------------

Fotky napravo, obsah nalevo.
*/

@media only screen and (min-width: 50em) {

  .layout-main {
    display: flex;
  }

  .layout-text {
    flex: 1 1 50%;
  }

  .layout-photos {
    flex: 1 1 50%;
  }

}
