body,
input,
select,
textarea {
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

a:hover,
a:focus,
a:active {
  color: var(--color-alpha);
}


/*
Helpery pro barvy
-----------------
*/

.c-alpha {
  color: var(--color-alpha);
}

.c-beta {
  color: var(--color-beta);
}
